:root {
    --main-color: #6951ae;
    --main-color-hover: #009BC2; /* Afecta los suggestions */
    --secondary-color: #6951ae; /* Afecta el icon, los botones y titulos */
    --secondary-color-hover: #6951ae;
}