@import url('../css/base.css');

.fade-out {
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}
.fade-in {
    visibility: visible;
    transition: all .5s ease-in-out;
}
.bubble{
    width: 60px;
    height: 60px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50% 50% 50% 50%;
    background: var(--secondary-color);
    -webkit-box-shadow: -8px 9px 10px -8px rgba(0,0,0,0.53);
    -moz-box-shadow: -8px 9px 10px -8px rgba(0,0,0,0.53);
    box-shadow: -8px 9px 10px -8px rgba(0,0,0,0.53);
}
.bubble:hover{
    transition: all .5s ease-in-out;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}